.body{
    display: flex;
    justify-content: space-around;
}
.head{
    text-align: center;
    color: blue;
    font-size: 44px;
}
.dep{
    display: flex;
    flex-direction: column;
}
.item{
    padding: 15px 0px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    color: grey;
}