<div class="hero-bg">
<div class="body-wrapper">
    <div>          
          <div class="mat-elevation-z8">
            <div class="emp-heading-wrapper">
                <span class="emp-heading">
                    Registered Employees List
                </span>
        
                <mat-form-field class="filter" appearance="outline">
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Employee Name or Department" #input>
                  </mat-form-field>
            </div>
            <table mat-table [dataSource]="dataSource" matSort>
          
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
              </ng-container>
          
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
              </ng-container>
          
              <ng-container matColumnDef="department">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Department </th>
                <td mat-cell *matCellDef="let row"> {{row.department}} </td>
              </ng-container>
          
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let row"> {{row.status}} </td>
              </ng-container>
          
              <ng-container matColumnDef="contact">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact </th>
                <td mat-cell *matCellDef="let row"> {{row.contact}} </td>
              </ng-container>
        
              <ng-container matColumnDef="due">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Joining Date</th>
                <td mat-cell *matCellDef="let row"> {{row.due | date}} </td>
              </ng-container>
              
              <ng-container matColumnDef="action" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                <td mat-cell *matCellDef="let row"> 
                <button mat-icon-button color="primary" (click)="editEmployee(row.id)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteEmployee(row.id)">
                  <mat-icon>delete</mat-icon>
                </button>  
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the input value "{{input.value}}"</td>
              </tr>
            </table>
        
          </div>
          
          
    </div>
</div>
</div>